.home-container {
  // margin: 1rem;
  background: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  > * {
    flex: 1;
    align-self: stretch;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    .hero-slogan {
      background-color: $color-dark;
      padding: 1rem;
      h1,p{
        text-transform: uppercase;
        color: $color-white;
        letter-spacing: 6px;
      }
    }
  }
  .home-img {
    padding: 1rem;
  }
}
// =======================
// Media Queries (Phone, Tablet, Desktop)
// =======================

@import "_home-responsive";
