@import "../common/style.scss";
#Home {
//   .hero {
//     height: 100vh;
//     background: url("/blog/assets/images/home-images/hero-bg.gif") center
//       no-repeat;
//     background-size: 50%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: flex-start;
//     padding: 0 10%;
//     position: relative;
//     margin: 1rem;
//     border-radius: 10px;
//     overflow: hidden;
//     &::after {
//       content: "";
//       position: absolute;
//       inset: 0;
//       background: rgba(0, 0, 0, 0.5);
//       z-index: -1;
//     }
//   }
}

.home-container{
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    // height: 80vh;
    background: $color-white;
    border: 1px solid $color-cloudy-haze;
    display: flex;
    align-items: center;
    gap: 1rem;
    > *{
        flex: 1;
    }
    .home-img{
        // padding: 1rem;
    }
}