// Phone (dưới 600px)
@media (max-width: 600px) {
  //container
  .wrapper,
  #Header,
  body {
    padding: 0;
    margin: 0vh;
  }

  // Begin Nav Bar Section
  #Navbar {
    .nav-list-top {
      display: none;
    }
  }
  #Navbar-bottom {
    .navbar-bottom-content .icon img {
      padding: 0.1rem;
    }
  }
  // End Nav Bar Section

  // Start Header Section
  .wrapper {
    padding: 0;
  }
  #Header {
    .header-back {
      bottom: 0px;
    }
    .header_container {
      flex-direction: column;
      .header-action-aria {
        padding: 0;
      }
    }
  }
  // End Header Section

  // Start About Section
  #About {
    .about-content {
      grid-template-columns: 1fr;
    }
  }
  // End About Section

  // Begin Service Section
  #Services {
    .services-list {
      grid-template-columns: 1fr;
      h3 {
        grid-column: span 1;
      }
      .service-describe {
        grid-template-columns: 1fr;
      }
    }
  }
  // End Service Section

  // Begin Experience Section
  #Experience {
    .experience-content {
      grid-template-columns: 1fr;
      .experience-box {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
      }
    }
  }
  // End Experience Section

  // Begin Project Section
  #Projects {
    .popup video {
      width: 100%;
    }
    .project-content {
      grid-template-columns: 1fr;
      gap: 3rem;
      .project-bottom {
        grid-column: span 1;
      }
    }
  }

  // End Project Section

  // Begin Certificate Section
  #Certificate {
    .certificate-content {
      gap: 3rem;

      .certificate-item {
        &:nth-of-type(n) {
          flex-direction: column;
          background: linear-gradient(
            to bottom,
            rgba(0, 57, 122, 0.1) 0%,
            white 50%
          );
        }
        &:nth-of-type(-n + 2) .certificate-img {
          display: none;
        }
      }
    }
  }
  // End Certificate Section

  // Start Contact Section
  #Contact .contact-items {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  // End Contact Section
}

// Tablet (600px - 1024px)
@media (min-width: 601px) and (max-width: 1024px) {
  //container
  .wrapper,
  #Header,
  body {
    padding: 0;
    margin: 0vh;
  }

  // Begin Nav Bar Section
  #Navbar {
    .nav-list-top {
      display: none;
    }
  }
  #Navbar-bottom {
    .navbar-bottom-content .icon img {
      padding: 0.3rem;
    }
  }

  // End Nav Bar Section

  // Start Header Section
  #Header {
    .header_container {
      flex-direction: column;
    }
    .header-back {
      bottom: 0px;
    }
  }

  // End Header Section

  // Start About Section
  #About {
    .about-content {
      grid-template-columns: 1fr;
      .about-specialize {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  // End About Section

  // Begin Service Section
  #Services {
    .services-list {
      grid-template-columns: 1fr;
      h3 {
        grid-column: span 1;
      }
      .service-describe {
        grid-template-columns: 3fr 1fr;
      }
    }
  }
  // End Service Section

  // Begin Experience Section
  #Experience {
    .experience-content {
      grid-template-columns: 1fr;
    }
    .experience-box {
      flex-direction: column;
    }
  }
  // End Experience Section

  // Begin Project Section
  #Projects {
    .project-content {
      grid-template-columns: 1fr;
      gap: 3rem;
    }
    .project-bottom {
      grid-column: span 1;
    }
  }

  // End Project Section

  // Begin Certificate Section
  #Certificate {
    .certificate-content {
      gap: 3rem;

      .certificate-item {
        &:nth-of-type(n) {
          flex-direction: column;
          background: linear-gradient(
            to bottom,
            rgba(0, 57, 122, 0.1) 0%,
            white 50%
          );
        }
        &:nth-of-type(-n + 2) .certificate-img {
          display: none;
        }
      }
    }
  }
  // End Certificate Section

  // Start Contact Section
  #Contact {
    .contact-items {
      grid-template-columns: 1fr;
    }
  }
  // End Contact Section
}

// Desktop (trên 1024px)
@media (min-width: 1025px) {
  // Begin Nav Bar Section
  #Navbar-bottom {
    .navbar-bottom-container {
      display: none;
    }
  }
  // End Nav Bar Section
}
