/* ============================
   Responsive Styles
   ============================ */
@media (max-width: 600px) {
  .nav-list-top {
    display: none;
  }
  .nav-list-content .icon img {
    padding: 0.1rem;
  }
  .wrapper {
    padding: 0;
  }
  #Header {
    margin: 0;
  }
  .header-back {
    bottom: 0;
  }
  .header_container {
    flex-direction: column;
  }
  .header-action-aria {
    padding: 0;
  }
  .about-content {
    grid-template-columns: 1fr;
  }
  .services-list {
    grid-template-columns: 1fr;
  }
  .services-list h3 {
    grid-column: span 1;
  }
  .service-describe {
    grid-template-columns: 1fr;
  }
  .experience-content {
    grid-template-columns: 1fr;
  }
  .experience-box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .project-content {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .project-bottom {
    grid-column: span 1;
  }
  .popup video {
    width: 100%;
  }
  .certificate-content {
    gap: 3rem;
  }
  .certificate-item:nth-of-type(n) {
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(0, 57, 122, 0.1) 0%, white 50%);
  }
  .certificate-item:nth-of-type(-n + 2) .certificate-img {
    display: none;
  }
  #Contact .contact-items {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .nav-list-top {
    display: none;
  }
  .nav-list-content .icon img {
    padding: 0.3rem;
  }
  .wrapper {
    padding: 0;
  }
  #Header {
    margin: 0;
  }
  body {
    margin: 0;
  }
  .header_container {
    flex-direction: column;
  }
  .header-back {
    bottom: 0;
  }
  .about-content {
    grid-template-columns: 1fr;
  }
  .about-specialize {
    grid-template-columns: 1fr 1fr;
  }
  .services-list {
    grid-template-columns: 1fr;
  }
  .services-list h3 {
    grid-column: span 1;
  }
  .service-describe {
    grid-template-columns: 3fr 1fr;
  }
  .experience-content {
    grid-template-columns: 1fr;
  }
  .experience-box {
    flex-direction: column;
  }
  .certificate-content {
    gap: 3rem;
  }
  .certificate-item:nth-of-type(n) {
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(0, 57, 122, 0.1) 0%, white 50%);
  }
  .certificate-item:nth-of-type(-n + 2) .certificate-img {
    display: none;
  }
  .project-content {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .project-bottom {
    grid-column: span 1;
  }
  .contact-items {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1025px) {
  .nav-list-bottom {
    display: none;
  }
}