<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/PersonalBlogWebsite/blog/assets/css/main.css">
  <link rel="icon" type="image/x-icon" href="/PersonalBlogWebsite/blog/assets/icons/icons8-blog-100.ico">
  <title>Blog của Thân</title>
</head>

<body>
  <button id="toggle-btn"></button>
  <section id="Layout">
    <section id="Navbar"></section>
    <!-- <section id="Home"></section> -->
    <section id="Main-wrapper">
      <section id="Page">
        <div id="Main-content">
          <!-- Nội dung -->
        </div>
        <!-- <section id="Aside">
          Đây là aside
        </section> -->

      </section>
      <section id="Aside"></section>
    </section>
    <section id="Feedback"></section>
    <section id="Footer"></section>
  </section>
</body>
<script src="/PersonalBlogWebsite/blog/assets/js/jquery-3.7.1.min.js"></script>
<script src="/PersonalBlogWebsite/blog/assets/js/script.js"></script>

</html>