<section id="Footer">
    <div class="footer-container">
        <div class="footer-about">
            <h4 class="title">Giới thiệu</h4>
            <div class="brand">
                <h3>
                    Lê Hoàng Thân
                </h3>
            </div>
            <p>Đây là <strong>blog cá nhân</strong> của <span class="author-name">Lê Hoàng Thân</span>, không đại diện
                cho
                bất kỳ tổ chức nào.</p>
            <ul class="personal-bullets">
                <p>Mọi nội dung đều là:</p>
                <li>Ghi chép từ hành trình tự học.</li>
                <li>Có thể chứa sai sót.</li>
            </ul>
        </div>
        <div class="footer-nav">
            <h4 class="title">Quick Links</h4>
            <ul>
                <li><a href="blog/index.html" class="scroll-link">Blog</span></a></li>
                <li><a href="news/">News</span></a></li>
                <li><a href="network/">Topics</span></a>
                    <ul>
                        <li><a href="network/">Network</span></a></li>
                        <li><a href="security/">Security</span></a></li>
                        <li><a href="cryptography/">Cryptography</span></a></li>
                        <li><a href="mathematics/">Mathematics</span></a></li>
                        <li><a href="operating-systems/">Operating Systems</span></a></li>
                    </ul>
                </li>
                <li><a href="tools/">Tools</span></a></li>
                <li><a href="ctf/">CTF</span></a></li>
                <li><a href="roadmap/">My Roadmap</span></a></li>
                <li><a href="portfolio/" target="_blank">Portfolio</span></a></li>
                </ul>
        </div>

        <div class="footer-contact">
            <h4 class="title">Liên hệ</h4>
            <p>Email: <a href="mailto:lehoangthan.blog@gmail.com">lehoangthan.blog@gmail.com</a></p>
            <p>GitHub: <a href="https://github.com/le-hoang-than" target="_blank">Le-Hoang-Than</a></p>
        </div>
        <div class="footer-student">
            <h4 class="title">Thông tin Sinh viên thực hiện đồ án</h4>
            <p>Họ và tên: Lê Hoàng Thân</p>
            <p>Mã số Sinh viên: DH52201426</p>
            <p>Mã Lớp: D22_TH02</p>
            <p>Nhóm 2 / Ca 2</p>
        </div>
    </div>
</section>