<section id="Home">
    <div class="home-container">
        <div class="hero">
            <div class="hero-slogan">
                <h1>"Không có hệ thống nào là tuyệt đối an toàn"</h1>
                <p>— Bruce Schneier</p>
            </div>
            <p class="hero-subtitle">Blog này là nhật ký hành trình <b>'mò mẫm'</b> an ninh mạng của mình —
                nơi mọi lab, tài liệu đều được <b>chia sẻ miễn phí</b> và <b>không rào cản</b>.</p>
            <hr>
            <p class="hashtag">
                <span>#NoGatekeeping</span>
                <span>#MadeByHackerForHacker</span>
            </p>
            <a href="#Feedback" class="btn btn-dark scroll-link">Khám phá Blog</a>
        </div>
        <div class="home-img">
            <img src="/PersonalBlogWebsite/blog/assets/images/home-images/home-graphic.png" alt="">
        </div>
    </div>
</section>