<section id="Navbar">
    <div class="navbar-container">
        <div class="navbar-header">
            <div class="brand">
                <a href="">
                    <h3>Lê Hoàng Thân</h3>
                </a>
            </div>
        </div>

        <div class="navbar-menu">
            <ul class="navbar-list">
                <li><a class="navbar-link" href=""><span>Home</span></a></li>
                <li><a class="navbar-link" href="news/"><span>News</span></a></li>
                <li class="dropdown">
                    <div class="navbar-link">
                        <a href="topics/">
                            <span>Topics</span>
                        </a>
                        <img class="icon dropdown-arrow" src="assets/images/navbar-images/icons8-arrow-50.png"
                            alt="menu">
                    </div>
                    <ul class="navbar-submenu">
                        <li><a class="navbar-link" href="topics/network/"><span>Network</span></a></li>
                        <li><a class="navbar-link" href="topics/security/"><span>Security</span></a></li>
                        <li><a class="navbar-link" href="topics/cryptography/"><span>Cryptography</span></a></li>
                        <li><a class="navbar-link" href="topics/mathematics/"><span>Mathematics</span></a></li>
                        <li><a class="navbar-link" href="topics/operating-systems/"><span>Operating Systems</span></a>
                        </li>
                        <li><a class="navbar-link" href=""><span>Thực hành Nhập môn web</span></a></li>
                    </ul>
                </li>
                <li><a class="navbar-link" href="tools/"><span>Tools</span></a></li>
                <li><a class="navbar-link" href="ctf/"><span>CTF</span></a></li>
                <li><a class="navbar-link" href="myroadmap/"><span>My Roadmap</span></a></li>
                <li><a class="navbar-link" href="portfolio/" target="_blank"><span>Portfolio</span></a></li>
                <li>
                    <div class="navbar-link">
                        <a href="admin/" target="_blank">
                            <span>Administrator </span>
                        </a>
                        <a class="icon" href="admin/">
                            <img src="assets/images/navbar-images/icons8-login-100.png" alt="admin">
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="navbar-btn">
            <img class="navbar-btn-menu" src="assets/images/navbar-images/icons8-menu-100.png" alt="menu">
            <img class="navbar-btn-close" src="assets/images/navbar-images/icons8-close-100.png" alt="menu">
        </div>

    </div>

</section>
<script src="assets/js/components/navbar.js"></script>