<section id="Navbar">
    <div class="navbar-container">
        <div class="brand">
            <a href="#Home" class="scroll-link">
                <h3>Lê Hoàng Thân</h3>
            </a>
        </div>
        <ul class="navbar-menu">
            <li><a href="#Home"><span>Home</span></a></li>
            <li><a href="news/"><span>News</span></a></li>
            <li><a href="topics/"><span>Topics &#8801;</span></a>
                <ul class="navbar-sub-menu">
                    <li><a class="btn" href="topics/network/"><span>Network</span></a></li>
                    <li><a class="btn" href="topics/security/"><span>Security</span></a></li>
                    <li><a class="btn" href="topics/cryptography/"><span>Cryptography</span></a></li>
                    <li><a class="btn" href="topics/mathematics/"><span>Mathematics</span></a></li>
                    <li><a class="btn" href="topics/operating-systems/"><span>Operating Systems</span></a></li>
                </ul>
            </li>
            <li><a href="tools/"><span>Tools</span></a></li>
            <li><a href="ctf/"><span>CTF</span></a></li>
            <li><a href="myroadmap/"><span>My Roadmap</span></a></li>
            <li><a href="portfolio/" target="_blank"><span>Portfolio</span></a></li>
        </ul>
    </div>
</section>
<script src="assets/js/components/navbar.js"></script>