<section id="Navbar">
    <div class="navbar-container">
        <div class="navbar-header">
            <div class="brand">
                <a href="/PersonalBlogWebsite/blog/">
                    <h3>Lê Hoàng Thân</h3>
                </a>
            </div>
        </div>

        <div class="navbar-menu">
            <!-- <ul class="navbar-list">
                <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/"><span>Home</span></a></li>
                <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/news/"><span>News</span></a></li>
                <li class="dropdown">
                    <div class="navbar-link">
                        <a href="/PersonalBlogWebsite/blog/topics/">
                            <span>Topics</span>
                        </a>
                        <img class="icon dropdown-arrow" src="/PersonalBlogWebsite/blog/assets/images/navbar-images/icons8-arrow-50.png"
                            alt="menu">
                    </div>
                    <ul class="navbar-submenu">
                        <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/topics/network/"><span>Network</span></a></li>
                        <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/topics/security/"><span>Security</span></a></li>
                        <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/topics/cryptography/"><span>Cryptography</span></a></li>
                        <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/topics/mathematics/"><span>Mathematics</span></a></li>
                        <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/topics/operating-systems/"><span>Operating Systems</span></a>
                        </li>
                        <li><a class="navbar-link" href=""><span>Thực hành Nhập môn web</span></a></li>
                    </ul>
                </li>
                <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/tools/"><span>Tools</span></a></li>
                <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/ctf/"><span>CTF</span></a></li>
                <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/myroadmap/"><span>My Roadmap</span></a></li>
                <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/portfolio/" target="_blank"><span>Portfolio</span></a></li>
                <li>
                    <div class="navbar-link">
                        <a href="/PersonalBlogWebsite/admin/auth/login.php" target="_blank">
                            <span>Administrator </span>
                        </a>
                        <a class="icon" href="/PersonalBlogWebsite/admin/auth/login.php" target="_blank">
                            <img src="/PersonalBlogWebsite/blog/assets/images/navbar-images/icons8-login-100.png" alt="admin">
                        </a>
                    </div>
                </li>
            </ul> -->
            <ul class="navbar-list">
                <!-- Mục cố định -->
                <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/"><span>Home</span></a></li>
                <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/news/"><span>News</span></a></li>
                <li class="dropdown">
                    <div class="navbar-link">
                        <a href="/PersonalBlogWebsite/blog/topics/">
                            <span>Topics</span>
                        </a>
                        <img class="icon dropdown-arrow" src="/PersonalBlogWebsite/blog/assets/images/navbar-images/icons8-arrow-50.png"
                            alt="menu">
                    </div>
                    <ul class="navbar-submenu">
                        <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/topics/network/"><span>Network</span></a></li>
                        <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/topics/security/"><span>Security</span></a></li>
                        <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/topics/cryptography/"><span>Cryptography</span></a></li>
                        <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/topics/mathematics/"><span>Mathematics</span></a></li>
                        <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/topics/operating-systems/"><span>Operating Systems</span></a>
                        </li>
                        <li><a class="navbar-link" href=""><span>Thực hành Nhập môn web</span></a></li>
                    </ul>
                </li>
                <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/thuchanhweb/"><span>Thực hành web</span></a></li>

                <!-- Mục render động -->
                <span id="navbar-dynamic-menu"></span>
                
                <li><a class="navbar-link" href="/PersonalBlogWebsite/blog/portfolio/" target="_blank"><span>Portfolio</span></a></li>
                <!-- Mục cố định -->
                <li>
                    <div class="navbar-link">
                        <a href="/PersonalBlogWebsite/admin/auth/login.php" target="_blank">
                            <span>Administrator</span>
                        </a>
                        <a class="icon" href="/PersonalBlogWebsite/admin/auth/login.php" target="_blank">
                            <img src="/PersonalBlogWebsite/blog/assets/images/navbar-images/icons8-login-100.png"
                                alt="admin">
                        </a>
                    </div>
                </li>
            </ul>

        </div>


        <div class="navbar-btn">
            <img class="navbar-btn-menu" src="/PersonalBlogWebsite/blog/assets/images/navbar-images/icons8-menu-100.png"
                alt="menu">
            <img class="navbar-btn-close"
                src="/PersonalBlogWebsite/blog/assets/images/navbar-images/icons8-close-100.png" alt="menu">
        </div>

    </div>

</section>
<script src="assets/js/components/navbar.js"></script>