// =======================
// Variables
// =======================

$color-black: #000;
$color-white: #fff;
$color-dark: #353535;
$color-dark-variant: #555555;
$color-ocean-deep: #5c829c;
$color-sky-dust: #7ea4b8;
$color-cloudy-haze: #a8bfcf;
$color-frost-mist: #c8d3eb;
$color-snow-whisper: #dce3e8;
$color-daylight-glow: #e5ebf1;
$transition: 0.5s ease;

// =======================
// Font Face
// =======================

@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-Regular.woff2") format("woff2"),
    url("../fonts/Hack/Hack-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-Bold.woff2") format("woff2"),
    url("../fonts/Hack/Hack-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-Italic.woff2") format("woff2"),
    url("../fonts/Hack/Hack-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-BoldItalic.woff2") format("woff2"),
    url("../fonts/Hack/Hack-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "DancingScript";
  src: url("../fonts/DancingScript/DancingScript-Regular.ttf");
}

// =======================
// Reset + Global
// =======================

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Hack", sans-serif;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  letter-spacing: 0.4px;
  user-select: none;
  -webkit-user-drag: none;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-white;

  &::-webkit-scrollbar {
    width: 6px;
    background-color: $color-white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: $color-black;
  }
}

img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease transform;

  &:hover {
    transform: scale(1.03);
  }
}

// =======================
// Typography
// =======================

p {
  font-size: 1em;
  line-height: 1.6;
  color: $color-dark-variant;
  transition: transform $transition;
  &:hover {
    transform: translateY(3px);
    text-shadow: 0 0 20px $color-sky-dust;
  }
}

a {
  text-decoration: none;
  transition: transform $transition;
  &:link {
    color: $color-dark-variant;
  }
  &:visited {
    color: $color-dark-variant;
  }
  &:hover {
    transform: translateY(3px);
    color: $color-ocean-deep;
    text-shadow: 0 0 20px $color-sky-dust;
  }
  &:active {
    color: $color-ocean-deep;
  }
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 120%;
  transition: transform $transition;

  &:hover {
    transform: translateY(3px);
    text-shadow: 0 0 20px $color-sky-dust;
  }
}

h1 {
  font-size: 2em;
  color: $color-black;
}

h2 {
  font-size: 1.5em;
  color: $color-dark-variant;
}

h3 {
  font-size: 1.25rem;
  color: $color-black;
}

h4 {
  font-size: 1.1rem;
  color: $color-black;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

hr {
  border: 0;
  margin: 0.5rem 0;
  height: 2px;
  border-radius: 50%;
  background: linear-gradient(90deg, $color-white, $color-dark, $color-white);
}

// =======================
// Components
// =======================
#toggle-btn {
  background-color: transparent;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  right: 5px;
  bottom: 5px;
  z-index: 2;
  transition: transform 2s linear;
  border: none !important;
  width: 40px;
  height: 40px;
  img {
    z-index: 1000;
    border: none !important;
  }
}
.border {
  * {
    border: 1px solid black !important;
  }
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
  cursor: pointer;
  color: $color-black;
  border: 1px solid $color-dark-variant;
  font-weight: 600;
  font-size: 15px;
  transition: $transition;
  background: $color-white;

  &:hover {
    background: $color-dark-variant;
    color: $color-white;
  }

  &.btn-dark {
    color: $color-white;
    background: $color-dark;
    text-decoration: none !important;

    &:hover {
      background: $color-black;
    }
  }
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7ea4b8 !important;
  width: fit-content;
  padding-top: 0.5rem;
  h3 {
    font-weight: bolder;
    font-family: "DancingScript" !important;
    text-decoration: underline overline $color-ocean-deep 3px;
    font-size: 4vh;
    color: #e5ebf1 !important;
    letter-spacing: 0.5rem;
    margin: 0 1rem;
    transition: all $transition;
    &:hover {
      transform: none !important;
    }
  }
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 9999;
  .loading-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .loading-graphic {
      height: 20rem;
      width: 20rem;
    }
    .loading-title,.loading-sub-title {
      color: $color-ocean-deep;
    }
    &.fade-out {
      .loading-graphic {
        transform: scale(0);
        transition: transform  0.5s 0.3s ease-in-out;
      }
      .loading-title {
        transform: scale(0);
        transition: transform 0.3s 0.3s ease-in-out;
      }
      .loading-sub-title {
        transform: scale(0);
        transition: transform 0.3s ease-in-out;
      }
    }
  }
}