@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-Regular.woff2") format("woff2"), url("../fonts/Hack/Hack-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-Bold.woff2") format("woff2"), url("../fonts/Hack/Hack-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-Italic.woff2") format("woff2"), url("../fonts/Hack/Hack-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-BoldItalic.woff2") format("woff2"), url("../fonts/Hack/Hack-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "DancingScript";
  src: url("../fonts/DancingScript/DancingScript-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Hack", sans-serif;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  letter-spacing: 0.4px;
  user-select: none;
  -webkit-user-drag: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}
body::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}
body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #000;
}

img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease transform;
}
img:hover {
  transform: scale(1.03);
}

p {
  font-size: 1em;
  line-height: 1.6;
  color: #555555;
  transition: transform 0.5s ease;
}
p:hover {
  transform: translateY(3px);
  text-shadow: 0 0 20px #7ea4b8;
}

a {
  text-decoration: none;
  transition: transform 0.5s ease;
}
a:link {
  color: #555555;
}
a:visited {
  color: #555555;
}
a:hover {
  transform: translateY(3px);
  color: #5c829c;
  text-shadow: 0 0 20px #7ea4b8;
}
a:active {
  color: #5c829c;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 120%;
  transition: transform 0.5s ease;
}
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover {
  transform: translateY(3px);
  text-shadow: 0 0 20px #7ea4b8;
}

h1 {
  font-size: 2em;
  color: #000;
}

h2 {
  font-size: 1.5em;
  color: #555555;
}

h3 {
  font-size: 1.25rem;
  color: #000;
}

h4 {
  font-size: 1.1rem;
  color: #000;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

hr {
  border: 0;
  margin: 0.5rem 0;
  height: 2px;
  border-radius: 50%;
  background: linear-gradient(90deg, #fff, #353535, #fff);
}

#toggle-btn {
  background-color: transparent;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  right: 5px;
  bottom: 5px;
  z-index: 2;
  transition: transform 2s linear;
  border: none !important;
  width: 40px;
  height: 40px;
}
#toggle-btn img {
  z-index: 1000;
  border: none !important;
}

.border * {
  border: 1px solid black !important;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
  cursor: pointer;
  color: #000;
  border: 1px solid #555555;
  font-weight: 600;
  font-size: 15px;
  transition: 0.5s ease;
  background: #fff;
}
.btn:hover {
  background: #555555;
  color: #fff;
}
.btn.btn-dark {
  color: #fff;
  background: #353535;
  text-decoration: none !important;
}
.btn.btn-dark:hover {
  background: #000;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7ea4b8 !important;
  width: fit-content;
  padding-top: 0.5rem;
}
.brand h3 {
  font-weight: bolder;
  font-family: "DancingScript" !important;
  text-decoration: underline overline #5c829c 3px;
  font-size: 4vh;
  color: #e5ebf1 !important;
  letter-spacing: 0.5rem;
  margin: 0 1rem;
  transition: all 0.5s ease;
}
.brand h3:hover {
  transform: none !important;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 9999;
}
#loading-screen .loading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
#loading-screen .loading-content .loading-graphic {
  height: 20rem;
  width: 20rem;
}
#loading-screen .loading-content .loading-title, #loading-screen .loading-content .loading-sub-title {
  color: #5c829c;
}
#loading-screen .loading-content.fade-out .loading-graphic {
  transform: scale(0);
  transition: transform 0.5s 0.3s ease-in-out;
}
#loading-screen .loading-content.fade-out .loading-title {
  transform: scale(0);
  transition: transform 0.3s 0.3s ease-in-out;
}
#loading-screen .loading-content.fade-out .loading-sub-title {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-Regular.woff2") format("woff2"), url("../fonts/Hack/Hack-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-Bold.woff2") format("woff2"), url("../fonts/Hack/Hack-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-Italic.woff2") format("woff2"), url("../fonts/Hack/Hack-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-BoldItalic.woff2") format("woff2"), url("../fonts/Hack/Hack-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "DancingScript";
  src: url("../fonts/DancingScript/DancingScript-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Hack", sans-serif;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  letter-spacing: 0.4px;
  user-select: none;
  -webkit-user-drag: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}
body::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}
body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #000;
}

img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease transform;
}
img:hover {
  transform: scale(1.03);
}

p {
  font-size: 1em;
  line-height: 1.6;
  color: #555555;
  transition: transform 0.5s ease;
}
p:hover {
  transform: translateY(3px);
  text-shadow: 0 0 20px #7ea4b8;
}

a {
  text-decoration: none;
  transition: transform 0.5s ease;
}
a:link {
  color: #555555;
}
a:visited {
  color: #555555;
}
a:hover {
  transform: translateY(3px);
  color: #5c829c;
  text-shadow: 0 0 20px #7ea4b8;
}
a:active {
  color: #5c829c;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 120%;
  transition: transform 0.5s ease;
}
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover {
  transform: translateY(3px);
  text-shadow: 0 0 20px #7ea4b8;
}

h1 {
  font-size: 2em;
  color: #000;
}

h2 {
  font-size: 1.5em;
  color: #555555;
}

h3 {
  font-size: 1.25rem;
  color: #000;
}

h4 {
  font-size: 1.1rem;
  color: #000;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

hr {
  border: 0;
  margin: 0.5rem 0;
  height: 2px;
  border-radius: 50%;
  background: linear-gradient(90deg, #fff, #353535, #fff);
}

#toggle-btn {
  background-color: transparent;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  right: 5px;
  bottom: 5px;
  z-index: 2;
  transition: transform 2s linear;
  border: none !important;
  width: 40px;
  height: 40px;
}
#toggle-btn img {
  z-index: 1000;
  border: none !important;
}

.border * {
  border: 1px solid black !important;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
  cursor: pointer;
  color: #000;
  border: 1px solid #555555;
  font-weight: 600;
  font-size: 15px;
  transition: 0.5s ease;
  background: #fff;
}
.btn:hover {
  background: #555555;
  color: #fff;
}
.btn.btn-dark {
  color: #fff;
  background: #353535;
  text-decoration: none !important;
}
.btn.btn-dark:hover {
  background: #000;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7ea4b8 !important;
  width: fit-content;
  padding-top: 0.5rem;
}
.brand h3 {
  font-weight: bolder;
  font-family: "DancingScript" !important;
  text-decoration: underline overline #5c829c 3px;
  font-size: 4vh;
  color: #e5ebf1 !important;
  letter-spacing: 0.5rem;
  margin: 0 1rem;
  transition: all 0.5s ease;
}
.brand h3:hover {
  transform: none !important;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 9999;
}
#loading-screen .loading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
#loading-screen .loading-content .loading-graphic {
  height: 20rem;
  width: 20rem;
}
#loading-screen .loading-content .loading-title, #loading-screen .loading-content .loading-sub-title {
  color: #5c829c;
}
#loading-screen .loading-content.fade-out .loading-graphic {
  transform: scale(0);
  transition: transform 0.5s 0.3s ease-in-out;
}
#loading-screen .loading-content.fade-out .loading-title {
  transform: scale(0);
  transition: transform 0.3s 0.3s ease-in-out;
}
#loading-screen .loading-content.fade-out .loading-sub-title {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
}

#Navbar {
  position: sticky;
  z-index: 1000;
  top: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
#Navbar .icon {
  height: 3vh;
  width: 3vh;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}
#Navbar .item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#Navbar .item span:hover, #Navbar .item a:hover {
  transform: none !important;
}
#Navbar .item .icon {
  margin: 0;
  padding: 0;
  right: calc(-3vh - 0.3rem);
  top: calc(50% - 1.5vh);
}
#Navbar .navbar-container {
  width: 100%;
  border-top: #000 3px solid;
  border-bottom: black 3px solid;
  box-shadow: 0 0 10px 3px #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: white;
  padding: 0.3rem 1rem;
  position: relative;
}
#Navbar .navbar-container .navbar-menu {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;
  transition: transform 0.5s ease;
  background-color: #fff;
  width: 100%;
}
#Navbar .navbar-container .navbar-menu li {
  position: relative;
}
#Navbar .navbar-container .navbar-menu li:hover span {
  background-size: 100% 2px;
}
#Navbar .navbar-container .navbar-menu li a {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #353535;
}
#Navbar .navbar-container .navbar-menu li a span {
  font-size: 3vh;
  background-image: linear-gradient(#000, #000);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.3s ease-in-out;
}
#Navbar .navbar-container .navbar-menu li .navbar-sub-menu {
  position: absolute;
  top: 160%;
  left: 0;
  z-index: 999;
  transform-origin: top;
  transform: scaleY(0);
  border: black 3px solid;
  border-bottom: black 9px double;
  border-top: black 9px double;
  background: #fff;
  transition: all 0.5s ease;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  width: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
}
#Navbar .navbar-container .navbar-menu li .navbar-sub-menu span {
  background-image: linear-gradient(#000, #000);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.5s ease;
}
#Navbar .navbar-container .navbar-menu li .navbar-sub-menu li:hover span {
  background-size: 100% 2px;
}
#Navbar .navbar-container .navbar-menu li.drop-down:hover .navbar-sub-menu {
  opacity: 1;
  transform: none;
  visibility: visible;
  transition: all 0.5s ease;
}
#Navbar .navbar-container .menu-btn {
  position: absolute;
  right: 1vw;
  align-self: center;
  height: 3vh;
  width: 3vh;
}

@media (max-width: 600px) {
  #Navbar .navbar-container .navbar-menu {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    padding: 1rem;
    border-left: black 9px double;
    gap: 1rem;
    overflow-y: auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }
  #Navbar .navbar-container .navbar-menu.open {
    transform: none;
  }
  #Navbar .navbar-container .navbar-menu .drop-down {
    position: relative;
  }
  #Navbar .navbar-container .navbar-menu .drop-down .navbar-sub-menu {
    position: static;
    overflow: hidden;
    transform: none;
    visibility: visible;
    transition: height 0.5s ease, opacity 0.5s ease;
    transition: none;
    width: 100%;
    border: none;
    grid-template-columns: 1fr;
    display: none;
    display: none;
  }
  #Navbar .navbar-container .navbar-menu .drop-down .navbar-sub-menu.active {
    visibility: visible;
  }
  #Navbar .navbar-container .navbar-menu .drop-down .navbar-sub-menu li a {
    border: none;
  }
  #Navbar .navbar-container .navbar-menu .drop-down.active {
    opacity: 1;
  }
  #Navbar .navbar-container .navbar-menu .drop-down.active .navbar-sub-menu {
    max-height: 100%;
    opacity: 1;
    display: grid;
  }
  #Navbar .navbar-container .navbar-menu .drop-down.active .icon {
    transform: rotate(180deg);
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  #Navbar .navbar-container .navbar-menu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
    width: 70%;
    height: 100%;
    padding: 1rem;
    padding-top: 8vh;
    border-left: black 9px double;
    overflow-y: auto;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }
  #Navbar .navbar-container .navbar-menu.open {
    transform: none;
  }
  #Navbar .navbar-container .navbar-menu li {
    align-self: stretch;
    border-bottom: 1px solid #000;
  }
  #Navbar .navbar-container .navbar-menu .drop-down {
    position: relative;
  }
  #Navbar .navbar-container .navbar-menu .drop-down .navbar-sub-menu {
    position: static;
    overflow: hidden;
    transform: none;
    visibility: visible;
    transition: height 0.5s ease, opacity 0.5s ease;
    transition: none;
    width: 100%;
    border: none;
    grid-template-columns: 1fr;
    display: none;
    display: none;
  }
  #Navbar .navbar-container .navbar-menu .drop-down .navbar-sub-menu.active {
    visibility: visible;
  }
  #Navbar .navbar-container .navbar-menu .drop-down .navbar-sub-menu li a {
    border: none;
  }
  #Navbar .navbar-container .navbar-menu .drop-down.active {
    opacity: 1;
    border-bottom: none;
  }
  #Navbar .navbar-container .navbar-menu .drop-down.active .navbar-sub-menu {
    max-height: 100%;
    opacity: 1;
    display: grid;
    gap: 1rem;
  }
  #Navbar .navbar-container .navbar-menu .drop-down.active .navbar-sub-menu li {
    margin: 1rem;
  }
  #Navbar .navbar-container .navbar-menu .drop-down.active .icon {
    transform: rotate(180deg);
  }
}
@media (min-width: 1025px) {
  #Navbar .menu-btn {
    display: none;
  }
  #Navbar .item:last-child span {
    display: none;
  }
  #Navbar .drop-down:hover .icon {
    transform: rotate(180deg);
  }
}
@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-Regular.woff2") format("woff2"), url("../fonts/Hack/Hack-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-Bold.woff2") format("woff2"), url("../fonts/Hack/Hack-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-Italic.woff2") format("woff2"), url("../fonts/Hack/Hack-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-BoldItalic.woff2") format("woff2"), url("../fonts/Hack/Hack-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "DancingScript";
  src: url("../fonts/DancingScript/DancingScript-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Hack", sans-serif;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  letter-spacing: 0.4px;
  user-select: none;
  -webkit-user-drag: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}
body::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}
body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #000;
}

img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease transform;
}
img:hover {
  transform: scale(1.03);
}

p {
  font-size: 1em;
  line-height: 1.6;
  color: #555555;
  transition: transform 0.5s ease;
}
p:hover {
  transform: translateY(3px);
  text-shadow: 0 0 20px #7ea4b8;
}

a {
  text-decoration: none;
  transition: transform 0.5s ease;
}
a:link {
  color: #555555;
}
a:visited {
  color: #555555;
}
a:hover {
  transform: translateY(3px);
  color: #5c829c;
  text-shadow: 0 0 20px #7ea4b8;
}
a:active {
  color: #5c829c;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 120%;
  transition: transform 0.5s ease;
}
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover {
  transform: translateY(3px);
  text-shadow: 0 0 20px #7ea4b8;
}

h1 {
  font-size: 2em;
  color: #000;
}

h2 {
  font-size: 1.5em;
  color: #555555;
}

h3 {
  font-size: 1.25rem;
  color: #000;
}

h4 {
  font-size: 1.1rem;
  color: #000;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

hr {
  border: 0;
  margin: 0.5rem 0;
  height: 2px;
  border-radius: 50%;
  background: linear-gradient(90deg, #fff, #353535, #fff);
}

#toggle-btn {
  background-color: transparent;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  right: 5px;
  bottom: 5px;
  z-index: 2;
  transition: transform 2s linear;
  border: none !important;
  width: 40px;
  height: 40px;
}
#toggle-btn img {
  z-index: 1000;
  border: none !important;
}

.border * {
  border: 1px solid black !important;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
  cursor: pointer;
  color: #000;
  border: 1px solid #555555;
  font-weight: 600;
  font-size: 15px;
  transition: 0.5s ease;
  background: #fff;
}
.btn:hover {
  background: #555555;
  color: #fff;
}
.btn.btn-dark {
  color: #fff;
  background: #353535;
  text-decoration: none !important;
}
.btn.btn-dark:hover {
  background: #000;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7ea4b8 !important;
  width: fit-content;
  padding-top: 0.5rem;
}
.brand h3 {
  font-weight: bolder;
  font-family: "DancingScript" !important;
  text-decoration: underline overline #5c829c 3px;
  font-size: 4vh;
  color: #e5ebf1 !important;
  letter-spacing: 0.5rem;
  margin: 0 1rem;
  transition: all 0.5s ease;
}
.brand h3:hover {
  transform: none !important;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 9999;
}
#loading-screen .loading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
#loading-screen .loading-content .loading-graphic {
  height: 20rem;
  width: 20rem;
}
#loading-screen .loading-content .loading-title, #loading-screen .loading-content .loading-sub-title {
  color: #5c829c;
}
#loading-screen .loading-content.fade-out .loading-graphic {
  transform: scale(0);
  transition: transform 0.5s 0.3s ease-in-out;
}
#loading-screen .loading-content.fade-out .loading-title {
  transform: scale(0);
  transition: transform 0.3s 0.3s ease-in-out;
}
#loading-screen .loading-content.fade-out .loading-sub-title {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
}

.feedback-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.feedback-container .feedback-header {
  text-align: center;
}
.feedback-container .feedback-content {
  width: 100%;
}
.feedback-container .feedback-content form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.feedback-container .feedback-content form div[class|=feedback] label {
  display: block;
  padding-bottom: 0.5rem;
}
.feedback-container .feedback-content form div[class|=feedback] input, .feedback-container .feedback-content form div[class|=feedback] textarea {
  resize: vertical;
  width: 100%;
  background-color: #dce3e8;
  box-shadow: inset 1px 1px 5px 0.5px #555555;
  padding: 1rem;
  border-radius: 4px;
}
.feedback-container .feedback-content form div[class|=feedback] input::placeholder, .feedback-container .feedback-content form div[class|=feedback] textarea::placeholder {
  color: #000;
}

@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-Regular.woff2") format("woff2"), url("../fonts/Hack/Hack-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-Bold.woff2") format("woff2"), url("../fonts/Hack/Hack-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-Italic.woff2") format("woff2"), url("../fonts/Hack/Hack-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-BoldItalic.woff2") format("woff2"), url("../fonts/Hack/Hack-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "DancingScript";
  src: url("../fonts/DancingScript/DancingScript-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Hack", sans-serif;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  letter-spacing: 0.4px;
  user-select: none;
  -webkit-user-drag: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}
body::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}
body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #000;
}

img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease transform;
}
img:hover {
  transform: scale(1.03);
}

p {
  font-size: 1em;
  line-height: 1.6;
  color: #555555;
  transition: transform 0.5s ease;
}
p:hover {
  transform: translateY(3px);
  text-shadow: 0 0 20px #7ea4b8;
}

a {
  text-decoration: none;
  transition: transform 0.5s ease;
}
a:link {
  color: #555555;
}
a:visited {
  color: #555555;
}
a:hover {
  transform: translateY(3px);
  color: #5c829c;
  text-shadow: 0 0 20px #7ea4b8;
}
a:active {
  color: #5c829c;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 120%;
  transition: transform 0.5s ease;
}
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover {
  transform: translateY(3px);
  text-shadow: 0 0 20px #7ea4b8;
}

h1 {
  font-size: 2em;
  color: #000;
}

h2 {
  font-size: 1.5em;
  color: #555555;
}

h3 {
  font-size: 1.25rem;
  color: #000;
}

h4 {
  font-size: 1.1rem;
  color: #000;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

hr {
  border: 0;
  margin: 0.5rem 0;
  height: 2px;
  border-radius: 50%;
  background: linear-gradient(90deg, #fff, #353535, #fff);
}

#toggle-btn {
  background-color: transparent;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  right: 5px;
  bottom: 5px;
  z-index: 2;
  transition: transform 2s linear;
  border: none !important;
  width: 40px;
  height: 40px;
}
#toggle-btn img {
  z-index: 1000;
  border: none !important;
}

.border * {
  border: 1px solid black !important;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
  cursor: pointer;
  color: #000;
  border: 1px solid #555555;
  font-weight: 600;
  font-size: 15px;
  transition: 0.5s ease;
  background: #fff;
}
.btn:hover {
  background: #555555;
  color: #fff;
}
.btn.btn-dark {
  color: #fff;
  background: #353535;
  text-decoration: none !important;
}
.btn.btn-dark:hover {
  background: #000;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7ea4b8 !important;
  width: fit-content;
  padding-top: 0.5rem;
}
.brand h3 {
  font-weight: bolder;
  font-family: "DancingScript" !important;
  text-decoration: underline overline #5c829c 3px;
  font-size: 4vh;
  color: #e5ebf1 !important;
  letter-spacing: 0.5rem;
  margin: 0 1rem;
  transition: all 0.5s ease;
}
.brand h3:hover {
  transform: none !important;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 9999;
}
#loading-screen .loading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
#loading-screen .loading-content .loading-graphic {
  height: 20rem;
  width: 20rem;
}
#loading-screen .loading-content .loading-title, #loading-screen .loading-content .loading-sub-title {
  color: #5c829c;
}
#loading-screen .loading-content.fade-out .loading-graphic {
  transform: scale(0);
  transition: transform 0.5s 0.3s ease-in-out;
}
#loading-screen .loading-content.fade-out .loading-title {
  transform: scale(0);
  transition: transform 0.3s 0.3s ease-in-out;
}
#loading-screen .loading-content.fade-out .loading-sub-title {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
}

#Footer {
  border-top: 9px double #353535;
}
#Footer .footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  gap: 2rem;
  background: #353535;
}
#Footer .footer-container * {
  flex: 1 1 auto;
  list-style-position: inside;
  color: #fff;
}
#Footer .footer-container .title {
  color: #353535;
  background-color: #e5ebf1;
  padding: 3px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
#Footer .footer-container a {
  text-decoration: underline;
}
#Footer .footer-container .footer-nav ul li {
  list-style-type: square;
  margin: 3px;
}
#Footer .footer-container .footer-nav ul ul {
  padding-left: 1rem;
}
#Footer .footer-container .footer-nav ul ul li {
  list-style-type: circle;
  list-style-position: inside;
}

@media (max-width: 600px) {
  #Footer .footer-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  #Footer .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-Regular.woff2") format("woff2"), url("../fonts/Hack/Hack-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-Bold.woff2") format("woff2"), url("../fonts/Hack/Hack-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-Italic.woff2") format("woff2"), url("../fonts/Hack/Hack-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Hack";
  src: url("../fonts/Hack/Hack-BoldItalic.woff2") format("woff2"), url("../fonts/Hack/Hack-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "DancingScript";
  src: url("../fonts/DancingScript/DancingScript-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Hack", sans-serif;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  letter-spacing: 0.4px;
  user-select: none;
  -webkit-user-drag: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}
body::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}
body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #000;
}

img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease transform;
}
img:hover {
  transform: scale(1.03);
}

p {
  font-size: 1em;
  line-height: 1.6;
  color: #555555;
  transition: transform 0.5s ease;
}
p:hover {
  transform: translateY(3px);
  text-shadow: 0 0 20px #7ea4b8;
}

a {
  text-decoration: none;
  transition: transform 0.5s ease;
}
a:link {
  color: #555555;
}
a:visited {
  color: #555555;
}
a:hover {
  transform: translateY(3px);
  color: #5c829c;
  text-shadow: 0 0 20px #7ea4b8;
}
a:active {
  color: #5c829c;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 120%;
  transition: transform 0.5s ease;
}
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover {
  transform: translateY(3px);
  text-shadow: 0 0 20px #7ea4b8;
}

h1 {
  font-size: 2em;
  color: #000;
}

h2 {
  font-size: 1.5em;
  color: #555555;
}

h3 {
  font-size: 1.25rem;
  color: #000;
}

h4 {
  font-size: 1.1rem;
  color: #000;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

hr {
  border: 0;
  margin: 0.5rem 0;
  height: 2px;
  border-radius: 50%;
  background: linear-gradient(90deg, #fff, #353535, #fff);
}

#toggle-btn {
  background-color: transparent;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  right: 5px;
  bottom: 5px;
  z-index: 2;
  transition: transform 2s linear;
  border: none !important;
  width: 40px;
  height: 40px;
}
#toggle-btn img {
  z-index: 1000;
  border: none !important;
}

.border * {
  border: 1px solid black !important;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
  cursor: pointer;
  color: #000;
  border: 1px solid #555555;
  font-weight: 600;
  font-size: 15px;
  transition: 0.5s ease;
  background: #fff;
}
.btn:hover {
  background: #555555;
  color: #fff;
}
.btn.btn-dark {
  color: #fff;
  background: #353535;
  text-decoration: none !important;
}
.btn.btn-dark:hover {
  background: #000;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7ea4b8 !important;
  width: fit-content;
  padding-top: 0.5rem;
}
.brand h3 {
  font-weight: bolder;
  font-family: "DancingScript" !important;
  text-decoration: underline overline #5c829c 3px;
  font-size: 4vh;
  color: #e5ebf1 !important;
  letter-spacing: 0.5rem;
  margin: 0 1rem;
  transition: all 0.5s ease;
}
.brand h3:hover {
  transform: none !important;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 9999;
}
#loading-screen .loading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
#loading-screen .loading-content .loading-graphic {
  height: 20rem;
  width: 20rem;
}
#loading-screen .loading-content .loading-title, #loading-screen .loading-content .loading-sub-title {
  color: #5c829c;
}
#loading-screen .loading-content.fade-out .loading-graphic {
  transform: scale(0);
  transition: transform 0.5s 0.3s ease-in-out;
}
#loading-screen .loading-content.fade-out .loading-title {
  transform: scale(0);
  transition: transform 0.3s 0.3s ease-in-out;
}
#loading-screen .loading-content.fade-out .loading-sub-title {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
}

.home-container {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.home-container > * {
  flex: 1;
  align-self: stretch;
}
.home-container .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.home-container .hero .hero-slogan {
  background-color: #353535;
  padding: 1rem;
}
.home-container .hero .hero-slogan h1, .home-container .hero .hero-slogan p {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 6px;
}
.home-container .home-img {
  padding: 1rem;
}

@media (max-width: 600px) {
  #Home .home-container {
    flex-direction: column;
  }
  #Home .home-container .home-img {
    width: 50vw;
    align-self: center;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  #Home .home-container {
    flex-direction: column;
  }
  #Home .home-container .home-img {
    width: 50vw;
    align-self: center;
  }
}