@import '../../common/style.scss';
#Footer{
    border-top: 9px double $color-dark;

    .footer-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        flex-wrap: wrap;
        padding: 1rem;
        gap: 2rem;
        background: $color-dark;
        *{
            flex: 1 1 auto;
            list-style: disc;
            list-style-position: inside;
            color: $color-white;
        }
        .title{
            color: $color-dark;
            background-color: $color-daylight-glow;
            padding: 3px;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }
    }
}