@import "../../common/style.scss";
#Navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  .icon {
    height: 3vh;
    width: 3vh;
  }
  .navbar-container {
    width: 100%;
    border-top: $color-black 3px solid;
    border-bottom: black 3px solid;
    box-shadow: 0 0 10px 3px white;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: white;
    padding: 0.3rem 1rem;
    gap: 1rem;
    position: relative;
    .navbar-menu {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-around;
      align-items: flex-end;
      background-color: $color-white;
      li {
        position: relative;
        a {
          display: flex;
          align-items: center;
          gap: 1rem;
          letter-spacing: 0.2rem;
          line-height: 140%;
          text-transform: uppercase;
          font-weight: 900;
          color: $color-dark;
          span {
            background-image: linear-gradient($color-black, $color-black);
            background-size: 0 1px;
            background-repeat: no-repeat;
            background-position: 0 100%;
            transition: background-size $transition;
          }
          .icon {
            display: block;
            height: 2vw;
            width: 2vw;
            overflow: hidden;
            transform: rotate(-90deg);
            &:hover {
                padding: 0;
                margin: 0;
                transform: rotate(0deg);
            }
          }
        }
        .navbar-sub-menu {
          position: absolute;
          top: 150%;
          left: 0;
          z-index: 1;
          transform-origin: top;
          transform: scaleY(0);
          border: black 3px solid;
          border-bottom: black 9px double;
          background: $color-white;
          transition: all $transition;
          overflow: hidden;
          visibility: hidden;
          opacity: 0;
          width: max-content;
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 1rem;
          gap: 1rem;
          a.btn {
            border-radius: 8px;
            &:hover {
              background-color: $color-white;
            }
          }
        }
        &.drop-down{
          .icon{
            position: absolute;
            right: -2vw;
            top: calc(50% - 1.5vh);
          }
        }
        &.drop-down:hover {
          .navbar-sub-menu {
            opacity: 1;
            transform: none;
            visibility: visible;
            transition: all $transition;
          }
        }
      }
    }
    .menu-btn {
      position: absolute;
      right: 1rem;
      align-self: center;
      height: 3vh;
      width: auto;
    }
  }
}
@import "_navbar-responsive";
